<h1>Home#index</h1>

<h1>Study Webpacker</h1>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<%= image_pack_tag "media/images/foto.jpg", class: 'img-fluid' %>
<p>Find me in app/views/home/index.html.erb</p>
